html, body {
min-height: 100%;
}
body, div, select, p { 
padding: 0;
margin: 0;
outline: none;
font-family: Roboto, Arial, sans-serif;
font-size: 16px;
color: #eee;
}
.img{
    border-radius: 50%;
}
h1 {
text-transform: uppercase;
}
.main-block {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 500%;
padding: 25px;
background: rgba(0, 0, 0, 0.5); 
}
.left-part, form {
padding: 25px;
margin: 0 10%;
}
.left-part {
text-align: center;
}
.fa-graduation-cap {
font-size: 72px;
}
form {
background: rgba(0, 0, 0, 0.7); 
}
label {
    display: block;
    margin-top: 25px;
    font-size: 1rem;
  }
  input, textarea {
    width: 95%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
  }
  button {
    height: 50px;
    width: 20%;
    margin: 0 40%;
    border-radius: 5px;
    color: #fff;
    background: red;
    line-height: 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid red;
    margin-top: 15px;
    transition: color .4s ease-out, background .4s ease-out;
  }
  button:hover {
    color: red;
    background: #fff;
  }
  .errors {
    display: block;
    color: red;
    margin-top: 5px;
  }
  .error {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    box-shadow: 0 0 15px 0 rgba(255,36,0,1);
  }
@media (min-width: 568px) {
html, body {
height: 100%;
}
.main-block {
flex-direction: row;
height: calc(100% - 50px);
}
.left-part, form {
flex: 1;
height: auto;
}
}
